{% if entity.logo %}
    <img src="{{ asset('uploads/logos/') }}{{ entity.logo }}" alt="{{ entity.name }} - Logo" /><br /><br />
{% endif %}
<strong>
{% if entity.website %}
    <a href="{{ entity.website }}">{{ entity.name }}</a>
{% else %}
    {{ entity.name }}
{% endif %}
</strong>
    is based in {{ entity.base }} and can be contacted at <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
{% if entity.phone %}
       or by phone: {{ entity.phone }}
{% endif %}.
<br /><br />
Description: {{ entity.description }}

<ul class="record_actions">
    <li>
        <a href="{{ path('partner') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('partner_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('partner_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
